<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
    <link rel="stylesheet" href="css/stylee.css">
</head>
<body>

<form method="post" action="/"><label for="cityInput">calories</label>

<input type="number" name="calorie" id="cityInput">
    <button type="submit">go</button>
</form>


<% if(q!=null){%>
<div class="container">
<p>calories=<%=nutrients.calories%></p>
<p>protein=<%=nutrients.protein%></p>
<p>fat=<%=nutrients.fat%></p>
<p>carbohydrates=<%=nutrients.carbohydrates%></p>
</div>
<div class="wrapper">


<%   for(var i=0; i<mealsitem.length;i++) {
%>
<div class="one">
<h1><%=mealsitem[i].title%></h1>
<img src='https://spoonacular.com/recipeImages/<%= mealsitem[i].id %>-240x150.jpg'>
 <a href='<%= mealsitem[i].sourceUrl%>'>
    <button>go to the Recipe</button>
  </a>
</div><%}%>
</div>
<%}%>
</body>
</html>